.modal-input {
    margin-top: 0px !important;
}

.bottom-modal-bg {
    background-color: #ffffff;
    transition: opacity 0.3s ease;
}

.bottom-modal-dim {
    background-color: #ffffff;
    opacity: 0.6; /* dimmed */
    pointer-events: none; /* optional: prevent interaction */
    transition: opacity 0.3s ease;
}

.top-modal-bg {
    background-color: #f8f9fa; /* distinct from bottom */
}
